<html>
	<head>
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body bgcolor="#41f474">

		<header>
			<h1>Change Machine</h1>
		</header>

			<center><a class="money_green" href = '/'>Enter New Amount</a></center>

		<p>
			<center><%= yield %></center>
		</p>

		<footer>
			<center><a href="https://www.pnc.com/">Visit your local PNC Bank today!</a></center>
		</footer>
	</body>
</html>